
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #container{
    width: 1200px;
    margin: 20px auto;
  }
  #header{
    width: 100%;
    height: 120px;
    background-color: cornflowerblue;
  }
  #left-sidebar{
    width: 250px;
    height: 600px;
    background-color: pink;
    float: left;
  }
  #contents{
    width: 800px;
    height: 600px;
    background-color: skyblue;
    float: left;
  }
  #right-sidebar{
    width: 150px;
    height: 600px;
    background-color: yellowgreen;
    float: right;
  }
  #footer{
    width: 100%;
    height: 100px;
    background-color: palegreen;
    clear: left;
  }
  
  ul{
    margin: 18%;
    font-size: 30px;
  }
  .bg{
    border: 1px solid black;
    border-radius: 25px;
  }